<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=“shortcut icon" href=“myIcon.ico” type=“image/x-icon” />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <script src="https://use.fontawesome.com/8e9d2540c9.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flights Lab</title>
</head>
<body>
    <nav>
        <h2>Flight Tracker <i class="fa fa-plane"></i></h2>
        <a href= "/flights" class="button">All Flights</a>
        <a href="/flights/new" class="button">Add Flight <i class="fa fa-plus"></i></a>
    </nav>