</head>
<body>
<nav>
    <h2>Flight Tracker <i class="fa fa-plane"></i></h2>
    <a href= "/flights" class="button"> All Flights </a>
    <a href="/flights/new" class="button"> Add Flight <i class="fa fa-plus"></i></a>
</nav>