</head>
<body>
<nav role="navigation">
    <a href="/"><h2>Flight Tracker <i class="fa fa-plane"></i></h2></a>
    <a href= "/flights" class="button"> Flights </a>
    <a href= "/destinations" class="button"> Destinations </a>
    <a href="/flights/new" class="add-btn button"> Add Flight <i class="fa fa-plus"></i></a>
    <a href="/destinations/new" class="add-btn button"> Add Destination <i class="fa fa-plus"></i> </a>

    <div class="dropdown">
      <button class="dropbtn"><i class="fa fa-plus"></i></button>
      <div class="dropdown-content">
        <a href="/flights/new"> Add Flight</a>
        <a href="/destinations/new"> Add Destination</a>
      </div>
    </div>

    <!--    Made by Erik Terwan    -->
    <div id="menuToggle">
        <input type="checkbox" />

          <span></span>
          <span></span>
          <span></span>
          
          <ul id="menu">
            <a href="/flights"><li>Flights</li></a>
            <a href="/flights/new"><li>New Flight</li></a>
            <a href="/destinations"><li>Destinations</li></a>
            <a href="/destinations/new"><li>New Destination</li></a>
          </ul>
    </div>
</nav>