</head>
<body>
<nav role="navigation">
    <a href="/"><h2>Flight Tracker <i class="fa fa-plane"></i></h2></a>
    <a href= "/flights" class="button"> Flights </a>
    <a href= "/destinations" class="button"> Destinations </a>
    <a href="/flights/new" class="button"> Add Flight <i class="fa fa-plus"></i></a>
    <a href="/destinations/new" class="button"> Add Destination <i class="fa fa-plus"></i> </a>

    <!--    Made by Erik Terwan    -->
    <div id="menuToggle">
        <input type="checkbox" />

          <span></span>
          <span></span>
          <span></span>
          
          <ul id="menu">
            <a href="#"><li>Flights</li></a>
            <a href="#"><li>Add Flight</li></a>
            <a href="#"><li>Destinations</li></a>
            <a href="#"><li>Add Destination</li></a>
          </ul>
    </div>
</nav>



<!-- make circlular plus sign and put add flights and dest inside -->