<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
<body>
  <h1><%= title %></h1>
  <p>A mongoose is a small terrestrial carnivorous mammal belonging to the family Herpestidae.</p>
  <a href="/movies" class="button">All Movies</a>
</body>
</html>
