<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body>
<nav>
    <h2>Flight Tracker <i class="fa fa-plane"></i></h2>
    <a href="/flights/new"> Quick Add <i class="fa fa-plus"></i></a>
</nav>

<main>
    <div>
        <blockquote>
            <h2><em>Where are we off to?</em></h2>
            <a href= "/flights"> My Flights <i class="fa fa-arrow-circle-right"></i> </a>
        </blockquote>
    </div>
</main>
<%- include('partials/footer') %>