body {
    height: 100vh;
    padding-top: 0;
}

nav {
    display: flex;
    margin: 10px auto 7px 5px;
}

nav h2 {
    margin: 0px auto 0px 0px;
}

main {
    height: 80%;
    padding: 50px 50px 0 50px;
    background-image: url('https://cdn.pixabay.com/photo/2018/07/02/10/59/airport-3511342_960_720.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 3px;
}

div {
    width: 500px;
    height: 200px;
}

div blockquote {
    background: rgba(255,255,255,0.8);
    color: #606c76;
    border-radius: 5px;
    padding: 1.3rem;
}

blockquote a {
    font-size: 30px;
}

@media screen and (max-width: 700px) {
    nav h2 {
        font-size: 3.6rem;
        margin-bottom: 0;
    }
  }