body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input, select {
  margin-top: .4rem;
}

.button {
  background: #00B7FF;
  border-radius: 5px;
  border: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background: #00B7FF;
  color: whitesmoke;
}
