body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input, select {
  margin-top: .4rem;
}

nav {
  display: flex;
}

nav a {
  margin: 0 .6rem;
}

nav h2 {
  margin-right: auto;
}

form {
  margin-bottom: 0;
}

form button {
  margin-bottom: 0;
}

.button {
  background: #00B7FF;
  border-radius: 5px;
  border: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background: #00B7FF;
  color: whitesmoke;
}

.departed {
  color: red;
}

.delete-btn {
  font-size: 2rem;
  color: red;
  padding: 0;
  border: none;
  background: white;
}

.delete-btn:hover {
  color: red;
  background: white;
}