<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<p class="error"><%= err !== null ? err : "" %></p>
<form action="/destinations" method="POST">
    <h2>Add a new destination:</h2>
    <fieldset>
      <label for="airport">Airport</label>
      <input type="text" placeholder='Airport' id="airport" name="airport" required>

      <button type="submit" class="button">Submit</button>
    </fieldset>
  </form>

<%- include('../partials/footer') %>