<%- include('../partials/header') %>
<%- include('../partials/nav') %>


<% if(err) { %>
  <p class='error'> <%= invalidAirline %> is not a valid airline </p>
  <% } else { %>
  <% } %>
<form action="/flights" method="POST">
    <fieldset>
      <label for="airline">Airline</label>
      <input type="text" placeholder='Airline' id="airline" name="airline" required>
      <label for="airport">Airport</label>
      <select id="airport" name="airport">
        <option value="SEA" selected>SEA - Seattle-Tacoma</option>
        <option value="AUS">AUS - Austin-Bergstrom</option>
        <option value="DFW">DFW - Dallas/Fort Worth</option>
        <option value="DEN">DEN - Denver</option>
        <option value="LAX">LAX - Los Angeles</option>
        <option value="SAN">SAN - San Diego </option>
      </select>
      <label for="flightNo">Flight Number</label>
      <input type="number" min="10" max="9999" placeholder="Flight no." id="flightNo" name="flightNo" required>
      <label for="departs">Departs</label>
      <input type="datetime-local" placeholder="" id="departs" name="departs" required>
      <button type="submit" class="button">Submit</button>
    </fieldset>
  </form>
<%- include('../partials/footer') %>